<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
	
		<meta charset="UTF-8" />

	</head>

	<!----------------------------------------->	 
	<!-------MAIN REGISTRO DE ASISTENCIA------->
	<!----------------------------------------->
 
    <div th:fragment="main-principal-calendario">
    	<div class="main-panel">
      
        	<div class="main-content">
          		<div class="content-wrapper"><!--Calendar Starts-->
					<section id="calendar">
					
  						<div class="row">
  						
						    <div class="col-sm-12">
						      <div class="content-header">Registro de Asistencia Hackspace</div>
						      <p class="content-sub-header">Con este calendario podremos ver quienes Asistieron o no el dia que seleccionemos.</p>
						    </div>
						    
  						</div>
  						
					  	<div class="row">
					  	
					    	<div class="col-sm-12">
						      <div class="card">
						        
						        <div class="card-content">
						        
						          <div class="card-body">
						          
						            <div id='fc-default'></div>
						            
						          </div>
						          
						        </div>
						        
						      </div>
					    	</div>
					    	
					  	</div>
					  	
					</section>

          		</div>
        	</div>

	        <footer class="footer footer-static footer-light">
	          <p class="clearfix text-muted text-sm-center px-2"><span>Copyright  &copy; 2019 <a href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">PIXINVENT </a>, All rights reserved. </span></p>
	        </footer>

      		</div>
      		
     </div>

</html>