<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8" />

</head>
<body>

	<form th:fragment="login" th:action="@{login}" th:method="post">
	
								<div class="md-form form-sm mb-5">
									<i class="fas fa-user prefix"></i> <input type="text"
										id="modalLRInput10" 
										name="username"
										class="form-control form-control-sm validate"> <label data-error="incorrecto"
										data-success="correcto" for="modalLRInput10">Ingresar
										nombre de usuario</label>
								</div>



								<div class="md-form form-sm mb-4">
									<i class="fas fa-lock prefix"></i> <input
									name="password"
										type="password" id="modalLRInput11" 
										class="form-control form-control-sm validate">
									<label data-error="incorrecto" data-success="correcto"
										for="modalLRInput11">Ingresar contraseña</label>
								</div>

								<div class="text-center mt-2">
									
									<i class="fas fa-sign-in ml-1"></i>
									<input type="submit" value="Ingresar">

								</div>

	</form>


</body>
</html>