<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

	<meta charset="UTF-8" />
	<title>Sistema de Registro de Asistencias</title>
	
		<!--=====================================
		    ALL DEVICES,TAGS META
	======================================-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/mdb.min.css}">
	
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/style2.css}">
	<link rel="stylesheet" th:href="@{/css/styleparticle.css}">
	
</head>
<body>
	<!-- DIV DE PARTICULAS -->
	<div th:fragment="particulas" id="particles-js">
		<!--Carousel Wrapper-->
	<div id="carousel-example-2" class="carousel slide carousel-fade"
		data-ride="carousel">
		<!--Indicators-->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-2" data-slide-to="0"
				class="active"></li>
			<li data-target="#carousel-example-2" data-slide-to="1"></li>
			<li data-target="#carousel-example-2" data-slide-to="2"></li>
		</ol>
		<!--/.Indicators-->
		<!--Slides-->

		
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="view">
					<img class="d-block w-100" 
						th:src="@{/img/fondo1.jpg}"
						alt="First slide">
					<div class="mask rgba-black-slight"></div>
				</div>
				<div class="carousel-caption">
					<h3 class="h3-responsive">Light mask</h3>
					<p>First text</p>
				</div>
			</div>
			<div class="carousel-item">
				<!--Mask color-->
				<div class="view">
					<img class="d-block w-100"
						src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
						alt="Second slide">
					<div class="mask rgba-black-strong"></div>
				</div>
				<div class="carousel-caption">
					<h3 class="h3-responsive">Strong mask</h3>
					<p>Secondary text</p>
				</div>
			</div>
			<div class="carousel-item">
				<!--Mask color-->
				<div class="view">
					<img class="d-block w-100"
						src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
						alt="Third slide">
					<div class="mask rgba-black-slight"></div>
				</div>
				<div class="carousel-caption">
					<h3 class="h3-responsive">Slight mask</h3>
					<p>Third text</p>
				</div>
			</div>
		</div>
		<!--/.Slides-->
		<!--Controls-->
		<a class="carousel-control-prev" href="#carousel-example-2"
			role="button" data-slide="prev"> <span
			class="carousel-control-prev-icon" aria-hidden="true"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="carousel-control-next" href="#carousel-example-2"
			role="button" data-slide="next"> <span
			class="carousel-control-next-icon" aria-hidden="true"></span> <span
			class="sr-only">Next</span>
		</a>
		<!--/.Controls-->
	</div>
	<!--/.Carousel Wrapper-->
	
	</div>

	<!--SCRIPTS FOOTER-->
	<footer th:fragment="footer">

		<script src="js/particles.js"></script>
		<script src="js/app.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>

		<script type="text/javascript" src="js/popper.min.js"></script>

		<script type="text/javascript" src="js/bootstrap.min.js"></script>

		<script type="text/javascript" src="js/mdb.min.js"></script>
		
		<script>
   	
			new WOW().init();

   		</script>
		

	</footer>
	
</body>
</html>